node_modules
# Keep environment variables out of version control
frontend/node_modules
.env
.DS_Store
backend/node_modules
backend/.env
backend/dev.db
backend/build
backend/package-lock.json
backend/package.json
backend/prisma/
backend/prisma/dev.db
